@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: blue;
    margin-bottom: 20px;
}

button {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
}

button:hover {
    box-shadow: 0 5px 2px 0 rgba(0,0,0,0.2), 0 17px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}